@font-face {
	font-family: "OMB";
	src:url("../../lib/fonts/OperatorMonoBookRegular.otf");
}

pre {
	max-width: 100%;
	font-family:"OMB";
	font-size: 14px;
	background-color: #eeeeee;
	color: #242224;
	padding: 10px;
	margin: 10px 0;
	word-wrap: break-word;
	word-break: break-all;
}

code {
	background-color: #eeeeee;
	color: #242224;
}

.edit-button:hover {
	background-color: #f8f8f8;
	cursor: pointer;
}

.cursor-pointer {
	cursor: pointer;
}