main {
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0 20px;
	text-align: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
main h1 {
	font-size: 3em;
	font-weight: 100;
	color: #F44;
	margin: 0;
}
main h2 {
	font-size: 1.5em;
	font-weight: 100;
	margin-bottom: 0;
}
main h3 {
	font-size: 1.5em;
	font-weight: 100;
	margin-top: 0;
}
main a {
	font-size: 1.5em;
	font-weight: 300;
	color: #F44;
	text-decoration: none;
}

.Popover {
	z-index: 9999999 !important;
}

.username-pop-wrap {
	border-radius:  5px !important;
}

.user-online {
	position: absolute;
	top: 95px;
	left: 157px;
	border: 3px solid #202225;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	background-color: #9fff72;
	z-index: 999;
}

.user-offline {
	position: absolute;
	top: 95px;
	left: 157px;
	border: 3px solid #202225;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	background-color: #ff6668;
	z-index: 999;
}

.profile-card-input {
	margin:0 !important;
	border: none !important;
	border-radius: 5px !important;
	padding: 0px 10px !important;
	display:inline-block !important;
	vertical-align:middle !important;
	white-space:normal !important;
	line-height:1 !important;
	min-width: 100% !important;
	background-color: #36393f !important;
	color: silver !important;
	outline: none !important;
	font-size: 14px;
}

.profile-card-input:focus {
	-webkit-box-shadow: none !important;
	-moz-box-shadow:  none !important;
	box-shadow:  none !important;
	outline: none !important;
}

.profile-card-input::placeholder {
	font-size: 14px;
}

.card-input-wrap {
	min-width: 235px;
	max-width: 235px;
	padding: 15px 15px;
}

.bs-popover-auto[x-placement^=right] .arrow::after, .bs-popover-right .arrow::after {
	border-right-color: #313539 !important;
}

.br-bottom {
	border-bottom: 1px solid #27292d !important;
}

.text-cardlight {
	color: #bebebe !important;
}

.card-icons-hover {
	border-radius: 5px;
}

.card-icons-hover:hover {
	background-color: rgba(39, 41, 45, 0.44);
}

