main {
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0 20px;
	text-align: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
main h1 {
	font-size: 3em;
	font-weight: 100;
	color: #F44;
	margin: 0;
}
main h2 {
	font-size: 1.5em;
	font-weight: 100;
	margin-bottom: 0;
}
main h3 {
	font-size: 1.5em;
	font-weight: 100;
	margin-top: 0;
}
main a {
	font-size: 1.5em;
	font-weight: 300;
	color: #F44;
	text-decoration: none;
}

.popover {
	min-width: 276px !important;
}

.user-online {
	position: absolute;
	top: 157px;
	left: 157px;
	border: 3px solid #F7F7F7;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	background-color: #00ff00;
	z-index: 999;
}

.user-offline {
	position: absolute;
	top: 157px;
	left: 157px;
	border: 3px solid #F7F7F7;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	background-color: #ff1835;
	z-index: 999;
}