.hoverStatic {
	cursor: pointer;
	height: 50px;
}

.hoverStatic:hover {
	background-color: #f8f8f8;
}

.border-list-article:nth-child(even) {
	background-color: #f8f8f8;
}

.border-list-article {
	border-bottom: 1px solid #edebe3;
	padding: 13px 0;
}

.border-list-article:last-child {
	border: none;
	margin-bottom: 0px;
}

.profile-article-btns:hover {
	background-color: #f0f0f0;
	cursor: pointer;
}

.word-wrap {
	display: inline-block;
	word-wrap: break-word;
	word-break: break-all;
	width: 100%;
}

.bg {
	background-color: #f0f0f0;
}

.hoverme:hover {
	background-color: #f0f0f0;
}
